* {
  font-family: "Times New Roman", Times, serif;
}

body {
  max-width: 80em;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 4em;
}

a, a:visited, a:active {
  text-decoration: underline;
  color: black;
}

a:hover{
  text-decoration: none;
  color: gray;
}

/*Header components*/
header {
  margin-top: 1.5em;
  margin-bottom: 0em;
}

nav.header {
  display: flex;
  justify-content: space-between;
}

a.header, a.header:visited, a.header:active{
  font-size: 2em;
  padding-right: 0.3em;
}

ul.social {
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}

li.social {
  padding-top: 1em;
  width: 5.5em;
/*  zoom:1;
  border:1px solid red;
  display:inline-block;*/
}

a.social, a.social:visited{
  justify-content: center;
  display: flex;
  align-items: center;
}

img.social {
  height: 0.8em;
  padding-right: 0.3em;
}


/*Page components*/

.page{
  max-width: 55em;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 3em;
}


h1 {
  font-weight: normal;
  font-style: normal;
  text-align: center;
}

h2 {
  font-weight: normal;
  font-style: normal;
  text-align: left;
}

li.a {
    font-size: 1.5em;
    padding-bottom: 1em;
}

li.b {
    font-size: 0.9em;
    padding-top: 0.2em;
}

li.additional{
  text-align: justify;
  font-size: 1.2em;
  padding-bottom: 1em;
}

p {
  text-indent: 40px;
  font-size: 1.2em;
  text-align: justify;
}

.equation{
  font-size: 1.2em;
  text-align: center;
}

a.chapter {
  text-decoration: none;
  border-bottom: 1px solid;
}

a.chapter:hover {
  border-bottom: none;
}


div.image {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-style: italic;
  font-size: 0.8em; 
}

img.image {
  width: 100%;
  object-fit: scale-down;
}

div.video{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-style: italic;
  font-size: 0.8em; 
}

iframe { 
  width: 100%;
  aspect-ratio: 16 / 9;
}

div.polaroid {
  text-align: center;
  font-size: 1.2em;
}

#latex-input {
  font-family: monospace;
}