{{ $icons := dict
  "info" ":information_source:"
  "tip" ":bulb:"
  "faq" ":question:"
  "question" ":grey_question:"
  "todo" ":clipboard:"
  "example" ":books:"
  "note" ":memo:"
  "abstract" ":page_with_curl:"
  "success" ":white_check_mark:"
  "warning" ":warning:"
  "failure" ":x:"
  "danger" ":fire:"
  "bug" ":bug:"
  "quote" ":speech_balloon:"
}}

{{ if eq .Type "alert" }}
  {{ if eq .AlertSign "-" }}
    <!-- Collapsible Blockquote -->
    <details class="callout callout-{{ lower .AlertType }}">
      <summary class="callout-heading">
        {{ transform.Emojify (index $icons .AlertType) }} 
        {{ .AlertTitle | default (title .AlertType) }}
      </summary>
      <div class="callout-content">
        {{ .Text }}
      </div>
    </details>
  {{ else if eq .AlertSign "+" }}
    <!-- Expandable Blockquote -->
    <details open class="callout callout-{{ lower .AlertType }}">
      <summary class="callout-heading" open="">
        {{ transform.Emojify (index $icons .AlertType) }} 
        {{ .AlertTitle | default (title .AlertType) }}
      </summary>
      <div class="callout-content">
        {{ .Text }}
      </div>
    </details>
  {{ else }}
    <!-- Regular Blockquote -->
    <blockquote class="callout callout-{{ lower .AlertType }}">
      <p class="callout-heading">
        {{ transform.Emojify (index $icons .AlertType) }} 
        {{ .AlertTitle | default (title .AlertType) }}
      </p>
      <div class="callout-content">
        {{ .Text }}
      </div>
    </blockquote>
  {{ end }}
{{ else }}
  <!-- Fallback for non-alert blockquotes -->
  <blockquote>
    {{ .Text }}
  </blockquote>
{{ end }}

